<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPAGd_Q7q5I7OVlBauAtKYfJyjtRKWcvM</string>
	<key>GCM_SENDER_ID</key>
	<string>888687424138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scannerAgelessCore27</string>
	<key>PROJECT_ID</key>
	<string>ageless-scanner</string>
	<key>STORAGE_BUCKET</key>
	<string>ageless-scanner.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888687424138:ios:156b98c1f0d662c133f373</string>
</dict>
</plist>